@page
@model WWWWW.Pages.Services.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.RequestId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.RequestId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.IssueDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.IssueDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Appliance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Appliance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.RequestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Service.ServiceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
